# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
.ipynb_checkpoints
.ipynb_checkpoints/
dask-worker-space/
__pycache__/
.DS_Store
proc_data_reduced.csv.gz
LosAlamos.zip
BusyDaysCon_Auth.zip
Authentication data.gz
Process data.gz
Authentication Weighted Degree Days.gz
AuthScores.zip
auth_data_reduced.csv.gz
dns.txt.gz

# Executables
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
Data/Reduced/auth_data_reduced_mk2.csv.gz
